<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="assets/images/fjbv.jpg" />
    <ion-card-header>
      <ion-card-title>Francisco Javier Bueno Vasquez</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Associate Consultant en ORACLE México <br>

      <br> Apasionado de la informática por vocación y con un fuerte interés en proyectos que requieren tanto el pensamiento conceptual y analítico. <br>

      <br> Totalmente comprometido con el trabajo y siempre dispuesto a aprender más de la industria de las tecnologías de la información. <br>
    </ion-card-content>
  </ion-card>
</ion-content>