<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sensores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-button expand="block" routerLink='/gps' color="success">
    <ion-icon name="location-outline"></ion-icon>
     GPS
  </ion-button>
  
  <ion-button expand="block" routerLink='/acelerometro' color="secondary">
    <ion-icon name="radio-outline"></ion-icon>
     Acelerómetro
  </ion-button>
</ion-content>
